.databricks/
.bundle/
.databrickscfg
build/
dist/
__pycache__/
*.pyc
.vscode/
*.egg-info
.venv/
.env
databricks_medallion_sql/scratch/**
!databricks_medallion_sql/scratch/README.md
Thumbs.db
.DS_Store